* {
  margin: 0;
}

body {
  background-color: #2f2f2f;
}

body .title {
  color: azure;
}

.panel {
  background-color: aliceblue;
  margin: 1vw;
  padding: 3%;
}

.panel p {
  color: black;
}

.container{
    width: 100%;
}

.label{
    text-transform: uppercase;
}

select{
    width: 100%;
}
