@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #050505;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h5 {
  padding: 20px;
}

.control input[type="radio"] {
  margin-top: 6px;
  margin-bottom: 8px;
}

.notification-container {
  position: fixed;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  top: 10%;
}

.notification {
  font-size: 1.4em;
  opacity: 0;
  width: 100%;
  word-wrap: break-word;
  padding: 10px;
  border: 3px solid #ffcbcb;
  border-radius: 0.2em;
  transition: opacity 0.3s ease-in-out;
}

.notification.show {
  opacity: 0.9;
}
